<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">Research Interest</a></li>
				<li><a href="/publications">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/contact">Contact Details</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:pb94@st-andrews.ac.uk">email</a></li>
	        		<li><a href="https://github.com/pbfeu">github.com/pbfeu</a></li>
				<li><a href="https://risweb.st-andrews.ac.uk/portal/en/persons/patrick-barth(2c537f1f-c880-4e22-a900-7f45d5c2049b).html">University of St Andrews</a></li>
				</ul>
			</footer>
		</body>
	</html>
